<h1><%= @article.title %><%= link_to "Edit article", edit_article_path, class: "btn-sm btn-success", id: "new" %></h1>
<hr>

<div class="container">


<p><%= @article.content %></p>

<p><%= @article.content %></p>

<p><%= @article.content %></p>

<p><%= @article.content %></p>

<p><%= @article.content %></p>
</div>

<%= link_to "Go back to all articles", articles_path, class: "btn btn-success", id: "back" %>
